main {
    background-color: black;
    padding: 1%;
}

h3 {
    color: whitesmoke;
}

path { 
    stroke: whitesmoke;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axisWhite text {
    fill: whitesmoke;
}